h1 {
   color: black;
   font-size: 60px;
   font-weight: bold;
   font-style: oblique;
}

p {
    color: black;
    font-size: 40px;
    font-weight: lighter;
    font-style: italic;
}

ul {
    color: black;
    font-size: 40px;
    font-weight: lighter;
    font-style: italic;
}

body {
    background-image: url("https://free4kwallpapers.com/uploads/wallpaper/random-encounter-1024x768-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
}

